@charset "utf-8";
html,body{
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #ECF0F1;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
/* 去掉各 Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自 yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* 正常链接 未访问 */
/* 鼠标悬停 */
a:hover {
  text-decoration: underline;
}
a:active{
  text-decoration: none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

/*文字颜色*/
/*.btnColor0{color: #ffffff !important}
.btnColor1{color: #eb4f38 !important}
.btnColor2{color: #2ecc71 !important}
.btnColor3{color: #1abc9c !important}
.btnColor4{color: #5dade2 !important}
.btnColor5{color: #e74c3c !important}
.btnColor6{color: #f1c40f !important}
.btnColor7{color: #4e6d8d !important}
.btnColor8{color: #95a5a6 !important}
.btnColor9{color: #e96e4f !important}
.btnColor10{color: #F27474 !important}
.btnColor11{color: #ECF0F1 !important}
.btnColor12{color: #BDC3C7 !important}
.btnColor13{color: #6f5499 !important}
.btnColor14{color: #03a9f4 !important}
.btnColor15{color: #1EC38B !important}
.btnColor16{color: #ff5c03 !important}*/
/*背景颜色*/

/*.bgColor0{background-color: #ffffff !important}
.bgColor1{background-color: #eb4f38 !important}
.bgColor2{background-color: #2ecc71 !important}
.bgColor3{background-color: #1abc9c !important}
.bgColor4{background-color: #5dade2 !important}
.bgColor5{background-color: #e74c3c !important}
.bgColor6{background-color: #f1c40f !important}
.bgColor7{background-color: #4e6d8d !important}
.bgColor8{background-color: #95a5a6 !important}
.bgColor9{background-color: #e96e4f !important}
.bgColor10{background-color: #F27474 !important}
.bgColor11{background-color: #ECF0F1 !important}
.bgColor12{background-color: #BDC3C7 !important}
.bgColor13{background-color: #6f5499 !important}
.bgColor14{background-color: #03a9f4 !important}
.bgColor15{background-color: #1EC38B !important}
.bgColor16{background-color: #ff5c03 !important}*/
